<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings />
  <connectionStrings>
    <add name="Northwind" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=Northwind;Integrated Security=SSPI" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />

    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  
</configuration>