<?xml version="1.0"?>
<configuration>
  <system.web>
    <profile>
      <properties>
        <add name="FirstName" type="String" serializeAs="Binary"/>
        <add name="LastName" type="String" serializeAs="Xml"/>
        <add name="DateOfBirth" type="DateTime" serializeAs="String"/>
        <add name="Address" type="Address"/>
      </properties>
    </profile>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Windows"/>
  </system.web>
</configuration>