<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Northwind" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=Northwind;Integrated Security=SSPI"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>    
  </system.web>
</configuration>