<?xml version="1.0"?>
<configuration>

  <system.web>
    <!-- Settings that remove some password rules. -->
    <!--
    <membership defaultProvider="MyMembershipProvider">
    <providers>
      <clear/>
      <add 
        name="MyMembershipProvider" 
        type="System.Web.Security.SqlMembershipProvider" 
        connectionStringName="LocalSqlServer"
        requiresQuestionAndAnswer="false"
        minRequiredPasswordLength="1"
        minRequiredNonalphanumericCharacters="0" />
    </providers>
    </membership>-->
    <roleManager enabled="true"/>
    <authentication mode="Forms"/>
    <compilation debug="true" targetFramework="4.5"/>
  </system.web>
</configuration>