<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AdBoard" connectionString="Data Source=(localdb)\v11.0;Integrated Security=SSPI;Initial Catalog=AdBoard"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
  </system.web>
</configuration>